@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
:root {
    --wave-dark: #282828;
    --wave-dark2: #363636;
}

body {
    margin: 0 auto;
    text-align: center;
    background: #feee80;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 72px;
    text-align: center;
}

header,
.waves {
    margin: 0 auto;
    text-align: center;
    width: 512px;
}

div.wave-1 {
    width: 260px;
    height: 10px;
    margin: 0 auto;
    background: var(--wave-dark);
    position: relative;
    border-radius: 22px;
    animation: wavy 2.5s ease-out infinite;
    /* Safari and Chrome */
    -webkit-animation: wavy 2.5s ease-out infinite;
}

div.wave-2 {
    width: 220px;
    height: 10px;
    margin: 0 auto;
    margin-top: 8px;
    background: var(--wave-dark);
    position: relative;
    border-radius: 22px;
    animation: wavy 2.5s ease-out infinite;
    -webkit-animation: wavy 2.5s ease-out infinite;
}

div.wave-3 {
    width: 175px;
    height: 10px;
    margin: 0 auto;
    margin-top: 8px;
    background: var(--wave-dark2);
    position: relative;
    border-radius: 22px;
    animation: wavy-2 2.5s ease-out infinite;
    -webkit-animation: wavy-2 2.5s ease-out infinite;
}

div.wave-4 {
    width: 100px;
    height: 10px;
    margin: 0 auto;
    margin-top: 8px;
    background: var(--wave-dark2);
    position: relative;
    border-radius: 22px;
    animation: wavy-2 2.5s ease-out infinite;
    -webkit-animation: wavy-2 2.5s ease-out infinite;
}

canvas {
    margin-top: 12px;
}

@keyframes wavy {
    from {
        top: 0px;
        opacity: 1;
    }
    to {
        top: 46px;
        transform: scale(0.8);
        opacity: 0;
    }
}

@-webkit-keyframes wavy {
    from {
        top: 0px;
        opacity: 1;
    }
    to {
        top: 46px;
        transform: scale(0.8);
        opacity: 0;
    }
}

@keyframes wavy-2 {
    from {
        top: 0px;
        opacity: 1;
    }
    to {
        top: 46px;
        transform: scale(0.6);
        opacity: 0;
    }
}

@-webkit-keyframes wavy-2 {
    from {
        top: 0px;
        opacity: 1;
    }
    to {
        top: 46px;
        transform: scale(0.6);
        opacity: 0;
    }
}

footer {
    position: fixed;
    width: 100%;
    bottom: 5px;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
    color: #858618;
}