@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

:root {
	--shadow-color:#d59eee;
	--shadow-color-light: #93efff;
}

body {
	font-family: "Helvetica";
	background-color: #000;
}

h1 {
	font-family: 'Audiowide';
	color: white;
    text-shadow: 0rem 0rem 3rem #f40, 0rem 0rem 5rem #f40, 0rem 0rem 6rem #f40;
    font-size: 77px;
	text-align: center;
}

.logo {
	margin: 0 auto;
	width: 52rem;
	border: solid .4rem #fff;
	border-radius: 2rem;
	animation: pisca 1.5s infinite alternate;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
}

footer>span{ text-shadow: 0rem 0rem 0.5rem #07c737 }


@keyframes pisca {
	0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
		box-shadow: 
			0rem .1rem .8rem #fff,
		  	0rem 0rem 5rem#08f,
			inset 0rem 0rem 2rem #08f
	}

	20%, 24%, 55% {
		box-shadow: none;
	}

}